@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: "Roboto Mono", monospace, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
}

.title {
    font-size: 1.5rem;
    user-select: none;
}

.weather-form {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    border: 1px solid black;
    border-radius: 50px;
    overflow: hidden;
}

.input-text {
    padding: 0.9rem 1rem;
    border-radius: 50px 0 0 50px;
    font-size: 0.875rem;
    font-family: "Roboto Mono", monospace, sans-serif;
    width: 100%;
    background-color: white;
}
.input-text:focus {
    outline: none;
}

.search-icon {
    padding: 0.9rem 1rem;
    background-color: white;
    border-radius: 0 50px 50px 0;
}

.icon {
    width: 15px;
    height: 15px;
}

.card {
    background-image: linear-gradient(to bottom, #79b9ea, #fff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 2.1rem;
    border-radius: 10px;
    min-width: 330px;
    font-family: "Roboto Mono", monospace, sans-serif;
    font-weight: 600;
    user-select: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    gap: 0.5rem;
    color: hsla(229, 100%, 12%, 0.85);

    display: none;
}

.city-display {
    font-size: 2rem;
    color: white;
}

.temperature-display {
    font-size: 3.5rem;
    color: white;
}

.img-display {
    font-size: 4rem;
    width: 150px;
    height: 150px;
    text-align: center;

    /* background-color: rgba(255, 255, 255, 0.2); */
}

.description-display, .humidity-display {
    font-style: italic;
    font-weight: 400;
}