@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: "Roboto Mono", monospace, sans-serif;
    background-image: url("../assets/gris1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    min-height: 100vh;
    backdrop-filter: blur(5px);
}

.clock-frame {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1.5rem 1.7rem;
    width: 460px;
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.clock {
    padding: 1rem;
    font-size: 3.5rem;
    }
    
.date {
    font-size: 1.1rem;
}

.icon {
    width: 20px;
    height: 20px;
    stroke-width: 2px;
}

.adjust-wrapper {
    width: 460px;
    position: absolute;
    top: 0.5rem;
}

.btn-adjust {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0.4rem;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: right;
}

.adjust-menu {
    background-color: white;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 2.5rem;
    visibility: hidden;
}

.adjust {
    padding: 0.5rem;
}

.label {
    font-size: 0.8rem;
    width: 100px;
    display: inline-block;
}

.select {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    min-width: 80px;
    text-align: center;
}
